
section {
    color: aliceblue;
    background-color: rgb(0, 0, 0);
    width: 400px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border-radius: 4px;

}

/* Estilos para el encabezado (h1) */
h1 {
    width: 400px ;
    height: auto;
    color: beige;
    background-color: blueviolet;
    padding: 20px ;
    margin: auto;
    text-align: center;
}

/* Estilos para los campos de formulario (input) */
input {
    width: 300px;
    margin: 10px ;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px auto;
}
/*
La etiqueta <abbr>en HTML se utiliza para representar abreviaciones o acrónimos y proporcionar su significado completo.

Esto es especialmente útil para mejorar la accesibilidad de los sitios web y dar contexto adicional a los usuarios,
incluidos aquellos que usan tecnologías de asistencia como lectores de pantalla.

Uso en HTML La estructura básica de la etiqueta <abbr>es la siguiente: html Copiar código <p>El protocolo

<abbr title="HyperText Markup Language">HTML</abbr>

es el lenguaje base de la web.</p>En este ejemplo: HTML es la abreviatura.

El atributo title de <abbr>contiene el texto completo,
es decir,"HyperText Markup Language" .
Cuando un usuario pasa el cursor sobre la abreviatura,
en la mayoría de los navegadores aparecerá el título como una especie de "tooltip"(texto emergente).

Ventajas de usar <abbr>Accesibilidad: Al proporcionar el significado completo de una abreviatura,
ayudas a los usuarios con discapacidades visuales o cognitivas que dependen de lectores de pantalla a comprender mejor el contenido.

Claridad: Mejora la comprensión de los acrónimos y abreviaciones por parte de todos los usuarios.

SEO:
El uso de <abbr>puede ayudar a los motores de búsqueda a comprender mejor el contenido y sus términos clave.
*/

abbr {
    text-decoration: underline dotted;
    cursor: help;
    /* Muestra un cursor de ayuda */
}

abbr[title] {
    border-bottom: 1px dotted #000;
    /* Aplica un borde punteado */
    color: #555;
    /* Cambia el color del texto */
}

abbr:hover {
    color: blue;
    /* Cambia el color cuando el usuario pasa el cursor */
}